.container{
    width: 450px;
    background-color: blanchedalmond;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px; 
    box-shadow: 5px 5px 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html{
    -webkit-font-smoothing: antialiased;
}

h2{
    float: left;
    font-size: 20px; 
	letter-spacing: 1px;
    line-height: 18px;
    margin-left: 25px;
    text-shadow: 6px 6px #87314e;

}
.login-tab{
    width: 50%;
	height: 40px;
	/* background: #fdfdfd; */
    background-color: #87314e;
	/* position: relative; */
	float: left;
	/* z-index: 1; */
  
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
  
	-webkit-transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	        transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
	-webkit-transform-origin: 0 0;
	        transform-origin: 0 0;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	
	-webkit-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);

     -moz-box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
          box-shadow: 15px -15px 30px rgba(0,0,0,0.32);
    margin-bottom: 30px;
}


.login-title{
    width: 35%;
	height: 40px;
	position: absolute;
	float: left;
	z-index: 2;
}
.login-title:hover{
    opacity: 0.5;
}

.box{
    z-index: 1;
    position: relative;
}


body{
    background: rgba(30,29,31,1);
    background: -moz-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(30,29,31,1)), color-stop(100%, rgba(223,64,90,1)));
    background: -webkit-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    background: linear-gradient(135deg, rgba(30,29,31,1) 0%, rgba(223,64,90,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1d1f', endColorstr='#df405a', GradientType=1 );
    display: flex;
    font-family: 'Poppins';
    
}

input{
    caret-color: red;
    
    
}

/* .fname{
    margin-top: 30px;
} */


input[type="text"], input[type="email"], input[type="password"]{
    background: #ecf0f3;
    /* padding: 30px; */
    /* padding: 20px 30px; */
    /* padding: 10px; */
    padding-left: 30px;
    background-color: #f0eaea;  
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    display: block;
    width: 100%;
    /* padding: 0; */
   
    
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 20px;
    position: relative;
    
  
}

/* input[type="text"], input[type="email"], input[type="password"]:hover{
    cursor: pointer;
    opacity: 0.5;
} */


input[type=submit]  {
    width: 100%;
    height: 48px;
    margin-top: 24px;
    margin-bottom: 40px;
    padding: 0px 20px;
    font-family: 'Quicksand', sans-serif;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    border: none;
    outline: none;
    border-radius: 20px;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
    line-height: 40px;
    text-align: center;
    background-color: #87314e;
      border: 1px #87314e solid;
      opacity: 1;
      cursor: pointer;
  }
  
  .fname:hover, .lname:hover, .age:hover, .email:hover, .pwd:hover{
    opacity: 0.5;
    cursor: pointer;
  }
  input[type=submit]:hover{
    opacity:0.7;
  }
.inputs{
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 40px;

}

span{
    font-size: 17px;
    opacity: 0.7;
    margin-right: 15px;
    
}


